<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>577929636551-6nlcn88nkhv9or48iqm3a26enu258kbk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.577929636551-6nlcn88nkhv9or48iqm3a26enu258kbk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>577929636551-5p7fndb6bmrqjdagfms7okkeiq1arqif.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB_-YvevrEh__ujLWqpZl-O0NPOKY1X9G0</string>
	<key>GCM_SENDER_ID</key>
	<string>577929636551</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wghdfmapp</string>
	<key>PROJECT_ID</key>
	<string>wghdfm-84617</string>
	<key>STORAGE_BUCKET</key>
	<string>wghdfm-84617.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:577929636551:ios:2658fbcb8972a5a6a86ce2</string>
</dict>
</plist>